* {
  box-sizing: border-box;
}

.keypad {
  height: min(80vmin, 450px);
}
button {
  margin: 0%;
  outline: none;
  width: 25%;
  height: min(22.5vmin, 100px, 15vh);
  border: 0px;
  border-bottom: rgb(163, 156, 156) 1px solid;
  border-right: rgb(163, 156, 156) 1px solid;
  font: 100 14px 'Roboto';
  font-size: min(5vmin, 22.5px, 4.5vh);
}

button:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.25);
}

.misc-key {
  background-color: lightgray;
}

.operation-key {
  color: white;
  background-color: orange;
  border-right: 0px;
}

.zero {
  width: 50%;
  padding-left: 11%;
  text-align: left;
}

.bottom {
  border-bottom: 0px;
}
